<div class="container">
    <h1 class="animated fadeIn">{{ heroeDetalle.nombre | uppercase }} <small>({{ heroeDetalle.aparicion | date:'y' }})</small></h1>
    <hr>
    <div class="row animated fadeIn fast">
        <div class="col-md-4">
            <img [src]="heroeDetalle.img" class="img-fluid" [alt]="heroeDetalle.nombre">
            <br><br>
            <a [routerLink]="['/heroe']" class="btn btn-outline-danger btn-block">Regresar</a>
        </div>
        <div class="col-md-8">
            <h3>{{ heroeDetalle.nombre }}</h3>
            <hr>
            <p>
                {{ heroeDetalle.bio }} </p>
            <div>
                <img *ngIf="heroeDetalle.casa == 'Marvel'" class="img-logo" src="assets/img/marvel-logo.png" alt="DC">
                <img *ngIf="heroeDetalle.casa == 'DC'" class="img-logo" src="assets/img/dc-logo.jpg" alt="Marvel">
            </div>
        </div>
    </div>
</div>