<button (click)="mostrarTable()" type="button" class="btn btn-info">Mostrar - Ocultar - Tabla</button>

<table class="table animated fadeIn" *ngIf="mostrar  == true ">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dato of dataTableImput | paginate: { itemsPerPage: 3, currentPage: page } ">
            <td>{{dato.id}}</td>
            <td>{{dato.nombre}}</td>
            <td>{{dato.bio}}</td>
            <td><img style="height: 69px;" src="{{dato.img}}"></td>
        </tr>

    </tbody>
</table>
<pagination-controls *ngIf="mostrar  == true " (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>